.#*
/*.coverdata
/*.plt
/_build/
/bin
/doc/*.html
/doc/edoc-info
/doc/erlang.png
/doc/stylesheet.css
/ebin
/erl_crash.dump
/rebar.lock
/rebar3.OTP*
/rebar3.crashdump
/src/katt_blueprint.erl
/test/*.beam
/test/cli
/test/example-teapot.apib

# back compat. REMOVE LATEST 2022-01-01
/.rebar/BARE_MODE
/.rebar/DEV_MODE
