.#*
/*.coverdata
/*.plt
/.rebar/BARE_MODE
/.rebar/DEV_MODE
/_build/
/bin
/doc/*.html
/doc/edoc-info
/doc/erlang.png
/doc/stylesheet.css
/ebin
/erl_crash.dump
/rebar3.crashdump
/logs
/rebar.lock
/src/katt_blueprint.erl
/test/*.beam
/test/cli
/test/example-teapot.apib
