%%-*- mode: erlang -*-
{lib_dirs,            [ "deps"
                      ]}.
{erl_opts,            [ debug_info
                      , warn_unused_vars
                      , warn_shadow_vars
                      , warn_unused_import
                      , warn_export_all
                      , warn_export_vars
                      , warn_obsolete_guard
                      , warn_untyped_record
                      , warnings_as_errors
                      ]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{xref_checks,         [ fail_on_warning
                      , undefined_function_calls
                      ]}.
{xref_warnings,       true}.
{deps_dir,            [ "deps"
                      ]}.
{deps,
 [ { mochiweb
   , ".*"
   , {git, "gitosis@git.internal.machines:mochiweb.git",
      {branch, "master"}}
   }
 , { lhttpc
   , ".*"
   , {git, "gitosis@git.internal.machines:lhttpc.git",
      {branch, "master"}}
   }
 , { neotoma
   , ".*"
   , { git
     , "gitosis@git.internal.machines:neotoma.git"
     , {branch, "klarna"}
     }
   }
 ]}.
{pre_hooks, [{compile, "make bootstrap-parser"}]}.
