%%-*- mode: erlang -*-
{lib_dirs,            [ ".."
                      , "deps"
                      ]}.
{erl_opts,            [ debug_info
                      , warn_unused_vars
                      , warn_shadow_vars
                      , warn_unused_import
                      , warn_export_all
                      , warn_export_vars
                      , warn_obsolete_guard
                      , warn_untyped_record
                      , warnings_as_errors
                      ]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{xref_checks,         [ fail_on_warning
                      , undefined_function_calls
                      , deprecated_function_calls
                      ]}.
{deps_dir,            [ "deps"
                      ]}.
{deps,
 [ { mochijson3
   , ".*"
   , { git, "git://github.com/tophitpoker/mochijson3.git"
     , "1a1c913ac80bb45d3de5fbd74d21e96c45e9e844"
     }
   }
 , { lhttpc
   , ".*"
   , { git, "git://github.com/waisbrot/lhttpc.git"
     , "824a89316d59353181990f5a461157751ca67907"
     }
   }
 , { neotoma
   , ".*"
   , { git, "git://github.com/seancribbs/neotoma.git"
     , {tag, "1.6.1"}
     }
   }
  , { meck
    , ".*"
    , { git, "git://github.com/eproxus/meck.git"
      , {tag, "0.8.2"}
      }
    }
 ]}.
{pre_hooks, [{compile, "./priv/compile-parser"}]}.
