%%-*- mode: erlang -*-
{lib_dirs, [ ".."
           , "deps"
           ]}.
{erl_opts, [ debug_info
           , warn_unused_vars
           , warn_shadow_vars
           , warn_unused_import
           , warnings_as_errors
           ]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{xref_checks, [ fail_on_warning
              , undefined_function_calls
              ]}.
{xref_warnings, true}.
{deps_dir, [ "deps"
           ]}.
{deps, [ { lhttpc
         , ".*"
         , {git, "git://git.hq.kred/lhttpc.git", {tag, "0.0.0-fred"}}
         }
       , { mochiweb
         , ".*"
         , {git, "git://git.hq.kred/mochiweb.git", {tag, "2.2.1-klarna-0.0.0"}}
         }
       ]}.
