{sub_dirs,            [ "include"
                      , "src"
                      ]}.
{lib_dirs,            [ "deps"
                      ]}.
{deps_dir,            [ "deps"
                      ]}.
{erl_opts,            [ debug_info
                      , warn_unused_vars
                      , warn_shadow_vars
                      , warn_unused_import
                      , warn_export_all
                      , warn_export_vars
                      , warn_obsolete_guard
                      , warn_untyped_record
                      ]}.
{xref_checks,         [undefined_function_calls]}.
{cover_enabled,       true}.
{cover_print_enabled, true}.
{deps,                [ { neotoma
                        , "1.6.0"
                        , { git
                          , "git://github.com/seancribbs/neotoma.git"
                          , {tag, "1.6.0"}
                          }
                        }
                      ]}.
